<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5HXDXSZ');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <!-- SEO Tag -->
  <meta name="twitter:card" content="summary_large_image" />
  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
  {% else %}
    <meta property="og:title" content="{{ site.title }} - {{ site.tagline }}" />
    <meta name="twitter:title" content="{{ site.title }} - {{ site.tagline }}" />
  {% endif %}
  {% if page.title %}
    <meta property="og:type" content="article" />
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
  {% else %}
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
  {% endif %}
  {% if page.url %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% endif %}
  {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
    <meta property="article:author" content="{{ page.author }}" />
  {% endif %}
  {% if page.image %}
    <meta property="og:image" content="{{ site.github.url }}{{ page.image.feature }}" />
    <meta name="twitter:image:src" content="{{ site.github.url }}{{ page.image.feature }}" />
  {% else %}
    <meta property="og:image" content="{{ site.github.url }}{{ site.thumbnail }}" />
    <meta name="twitter:image:src" content="{{ site.github.url }}{{ site.thumbnail }}" />
  {% endif %}
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
  {% if page.categories %}
    {% for category in page.categories limit:1 %}
    <meta property="article:section" content="{{ category }}" />
    {% endfor %}
  {% endif %}
  {% if page.tags %}
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
  {% endif %}
  <!-- End SEO Tag -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Lora|Space+Mono:700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">


  <!-- icon -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.github.url }}/img/icon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.github.url }}/img/icon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.github.url }}/img/icon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.github.url }}/img/icon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.github.url }}/img/icon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.github.url }}/img/icon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.github.url }}/img/icon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/img/icon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.github.url }}/img/icon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.github.url }}/img/icon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.github.url }}/img/icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.github.url }}/img/icon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.github.url }}/img/icon/favicon-16x16.png">
		<link rel="manifest" href="{{ site.github.url }}/img/icon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{{ site.github.url }}/img/icon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	<!-- Icon End -->

</head>
